<?xml version="1.0" encoding="UTF-8"?>
<phpunit color="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Test suite">
            <directory>E:\wamp64\www\GestionEmpruntsMaterielInfo\code\tests</directory>
        </testsuite>
    </testsuites>
</phpunit>